/*COLOR VARIABLES*/

$charcoal: #2C2D2C;
$deepGreen: #116500;
$white: #FFFFFF;
$pineTwo: #213C28;
$duckEggBlue: #D6F1E4;


/*TEXT STYLE VARIABLES*/

    // H1

$h1Font: 68.8px/63.7px Barlow, sans-serif;
$h1LetterSpacing: 0.8px;

    // Headings

$h2Font: 42px Offside, cursive;
$h3Font: 26px Offside, cursive;
$h4Font: 18px Offside, cursive;
$h5Font: 14px Offside, cursive;

    // Nav

$navFont: bold 20px/29px Barlow, sans-serif;

    // Body

$bodyFont: 20px/30px Barlow, sans-serif;
$bodyLetterSpacing: 0.2px;

    // Logo

$logoFont: 20px/20px Offside, cursive;

    // Buttons

$buttonFont: 20px/29px Offside, cursive;